nav{
   width: 25%; 
   height: 100%;
   position: fixed;
   background-color: lightgrey;
}
article{
    margin-left: 26%;
}
li:hover{
    background-color: green;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
    padding: 10px;
}
ul {
    padding: 0%;
}