.a{
    margin-top: 5%;
    border:5px solid red;
} 
.b{
    margin-top: 1%;
    margin-left: 5%;
    border:5px solid red;
} 
.c{
    margin-top: 1%;
    padding: 0% 0% 0% 5%;
    border:5px solid red;
} 
.d{
    background-color: red; 
    border:5px solid blue;
    padding: 3%;
    color: orange;
} 
.d1{

    margin: 1% 20% 0% 20%;
    padding: 3%;
    border:3px solid orange;
} 
.d2{
    padding: 3%;
    border:3px solid green;
} 



















